<configuration>
    <springProfile name="!dev &amp; !test">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="dev | test">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!--            <filter class="no.nav.historisk.innsyn.LogFilter" />-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
        <root level="info" />
    </springProfile>

    <logger level="DEBUG" name="no.nav"/>
</configuration>